HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/admin/logs
/teaching-ocean-school/logs
.DS_Store
admin/.DS_Store
*.log
/upload/
/logs
*.gz
logs/admin.log.2025-04-15.0.gz
logs/admin.log.2025-04-15.1.gz
logs/admin.log.2025-04-15.2.gz
/admin/branch
